@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://unpkg.com/swiper/swiper-bundle.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.snap-x {
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: start;
}

.card-intro {
  @apply rounded-lg shadow-lg bg-light-navy-blue flex flex-col items-center text-center py-4 px-8 mb-4;
}

.swiper-pagination-bullet {
  margin: 0 2px;
}

.step h6::after {
  display: block;
  border: 1px solid #fbb902;
}

.rangeslider--horizontal {
  height: 8px;
}

.rangeslider--horizontal .rangeslider__handle {
  top: -4px;
}

.rangeslider__fill {
  @apply bg-dark-grey-blue;
}

.rangeslider__handle {
  width: 18px;
  height: 18px;
}

.rangeslider__handle:after {
  width: 2px;
  height: 2px;
  background-color: #2c315f;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%239ca3af' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  background-color: #fff;
  border-color: #d1d5db;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.3rem;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}
